body {
  background-color:mintcream;
}

img {
  display: block;
  margin: 40px auto;
  width: 18%;
}
#toggle {
  background-color: black;
  color: aliceblue;
  display: block;
  margin: 50px auto;
  padding: 15px;
  border-radius: 30px;
  font-family: Salsa;
  font-size: 20px;
}

@media all and (max-width:1248px){
    img{
        width: 20rem;
    }
}